.content-first {
  display: flex;
  justify-content: space-between;
}

h1,
h4 {
  margin: 20px 0;
}

.content-list {
  padding: 0 20px;
  margin-bottom: 10px;
}

.content-img img {
  width: 325px;
  height: 212px;
}

.servicos-imagens {
  display: flex;
  justify-content: space-between;
}

.servicos-img-link img {
  width: 196px; /* Modifique esta linha */
  height: 163px;
}

.servicos-imagens .servicos-img-link a {
  display: block;
  font-size: 15px;
  width: 196px;
  word-wrap: break-word;
  text-align: justify;
}

.servicos-imagens .servicos-img-link a:hover {
  color: #373737;
}
