/* Navbar */
.container-phone {
  background-color: blue;
  display: flex;
  justify-content: end;
  padding: 5px 115px;
  gap: 30px;
}

.container-phone p {
  color: white;
  font-size: 15px;
}
.container-navbar {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 10px 0;
}

.logo img {
  height: 40px;
}

.nav-link {
  color: rgb(175, 175, 175);
  text-transform: uppercase;
  margin-right: 15px;
}

/* Conteiner menu suspenso */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Menu suspenso */
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  z-index: 1000;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
}

/* Links do menu suspenso */
.dropdown-content a {
  color: rgb(255, 255, 255);
  background: blue;
  padding: 5px 16px;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

/* Menu suspenso ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Submenu */
.dropdown-content .dropdown {
  position: relative;
}

/* Submenu escondido*/
.dropdown-content .dropdown .dropdown-content {
  display: none;
  top: 0;
  left: 100%;
  transform: none;
}

/* Submenu ao passar o mouse  */
.dropdown-content .dropdown:hover .dropdown-content {
  display: block;
}

/* Slider */

/*  Teste de HTML e CSS*/

/* Boxes de Destaque */

/* Footer */
