.container-phone {
  background-color: #001029;
  display: flex;
  justify-content: end;
  padding: 5px 115px;
  gap: 30px;
}

.container-phone p {
  color: white;
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container .logo {
  height: 60px;
  padding-top: 10px;
}

.bt_menu {
  display: none;
  z-index: 1000;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  padding: 5px;
  margin-right: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(175, 175, 175);
  text-transform: uppercase;
}

.menu .dropdown-one {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.menu .dropdown-two {
  flex-direction: column;
  top: -40px;
  left: 140px;
  width: 100%;
  z-index: 1000;
}

.menu ul li.show-dropdown:hover > ul {
  display: block;
}

.menu a:hover {
  color: #555;
}

.menu ul ul li a {
  background-color: #001029;
  color: #fff;
}

/*Criando o label */
label[for="bt_menu"] {
  margin-bottom: 10px;
  color: #001029;
  font-family: Arial;
  font-size: 40px;
  cursor: pointer;
  height: 50px;
}

#bt_menu {
  display: none;
}
