@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  margin: 0 100px;
}
 h1, h2, h3, h4, p, a, ul {
  font-family: "Poppins", sans-serif;
  color: rgb(105, 105, 105);
}

/* para que a margem do body não interfira nesses elementos */
.container-phone,
.slider,
footer {
  width: calc(100% + 200px);
  margin-left: -100px;
  margin-right: -100px;
}
